@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-accent font-primary text-[17px] leading-8 text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary leading-[120%];
}

.h1 {
  @apply text-[36px] xl:text-[64px] font-semibold;
}

.h2 {
  @apply text-[30px] xl:text-[44px] font-semibold capitalize tracking-[0.44px];
}

.h3 {
  @apply text-[20px] xl:text-[26px] font-semibold;
}

.h4 {
  @apply text-[20px] xl:text-[26px] font-semibold capitalize;
}

.btn {
  @apply rounded-full uppercase tracking-[1.02px] flex items-center justify-center transition-all;
}

.btn-sm {
  @apply h-14 px-10;
}

.btn-lg {
  @apply h-16 px-[50px];
}

.btn-accent {
  @apply bg-accent text-white hover:bg-accent-secondary;
}

.btn-white {
  @apply bg-white text-secondary hover:bg-white/90;
}

.btn-outline {
  @apply bg-transparent border-2 border-accent text-secondary hover:bg-accent hover:border-transparent hover:text-white;
}

.input,
.select {
  @apply w-full rounded-[10px] h-[66px] outline-none border border-[#dbdfdf] text-secondary font-light placeholder:font-light placeholder:text-secondary;
}

.input {
  @apply px-4;
}

.section {
  @apply py-12 xl:py-[150px];
}

/* swiper bullets */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply bg-accent;
}

/* faq */
.faq__item.open .faq__answer {
  @apply h-full;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}